In [13]:
dict1 = {'姓名': '賴宏瑋', '性別': '男', '作業分數': [95, 100, 90]}
dict2 = {'學號': 'M1129020'}

dict3 = {**dict1, **dict2}

import copy
dict4 = copy.deepcopy(dict3)

dict3['作業分數'][1] = 80

dict4['姓名'] = '許珈綺'
dict4['性別'] = '女'
dict4['學號'] = 'M1229001'

scores_dict3 = dict3.pop('作業分數')
avg_dict3 = sum(scores_dict3) / len(scores_dict3)
print(avg_dict3)
print(dict3)

scores_dict4 = dict4.pop('作業分數')
avg_dict4 = sum(scores_dict4) / len(scores_dict4)
print(avg_dict4)
print(dict4)

88.33333333333333
{'姓名': '賴宏瑋', '性別': '男', '學號': 'M1129020'}
95.0
{'姓名': '許珈綺', '性別': '女', '學號': 'M1229001'}

In [14]:
a = [100, 50, 45, 60, 90, 95, 80, 50]

a.insert(0, 88)

a[2:5] = [70, 50]

a.remove(50)

result = a.pop(0) + a.pop(-1)

print(result)

138

In [15]:
A = 347//3
B = 347%3

result = A ** B

print(A)
print(B)
print(result)

115
2
13225